doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 New Contact
      p
        ul
          li  Name: #{name}
          li Email: #{email}
          li Phone Number: #{phoneNumber}
          li Preferred Gender: #{gender}
          li Preferred Color: #{color}
          li Message: #{message}        